<div class="col-md-12 py-2 p-1 my-4">
    <div class="card-group">
         <div class="card text-center">
            <div class="h-170 horizontal-center p-5">
                <div class="col-md-4 col-sm-4 col-4">
                    <img src="/img/1.png" class="w-65" alt="...">
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title  text-site-1">Lowest Charges</h5>
                <p class="card-text">We charge you the lowest. Pay only minimum for the service.</p>
            </div>
        </div>
        <div class="card text-center">
            <div class="h-170 horizontal-center p-5">
                <div class="col-md-4 col-sm-4 col-4 ">
                    <img src="/img/4.png" class="w-65" alt="...">
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title  text-site-1">Track Bus</h5>
                <p class="card-text">See where is your bus at. Track your bus in real time.</p>
            </div>
        </div>
        <div class="card text-center" style="<!--background-image: url('/img/shape1.svg');-->">
            <div class="h-170 horizontal-center p-5">
                <div class="col-md-4 col-sm-4 col-4">
                    {{!-- <img src="/img/safety.svg" class="w-65" alt="..."> --}}
                    <img src="/img/2.webp" class="" style="" alt="...">
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title text-site-1">Super Easy Refund</h5>
                <p class="card-text">Returning a ticket anytime with a click of a button.</p>
            </div>
        </div>
        <div class="card text-center">
            <div class="h-170 horizontal-center p-5">
                <div class="col-md-4 col-sm-4 col-4">
                    <img src="/img/3.png" class="w-65" alt="...">
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title  text-site-1">Customer Service</h5>
                <p class="card-text">Experts available to solve your travel issues.</p>
            </div>
        </div>
       
    </div>
</div>