<div class="main-header shadow bg-white">
    <div class="container-fluid">
        <div class="site-wrapper bg-floralwhite">

            <nav class="navbar navbar-expand navbar-light topbar static-top  <!--bg-info--> row">
                <div class="navbar-nav col-11 col-sm-11 col-md-2 {{!--ml-auto m-0-auto --}} order-1 order-md-1">
                    <li id="topnav-avatar" class="nav-item dropdown no-arrow mx-1 ">
                        <!-- Nav Item - User Information -->
                        <div class="nav-item dropdown no-arrow ml-0">
                            <a class="nav-link dropdown-toggle pl-0" href="#" id="userDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{!-- <span class="col-12 col-sm-5"> --}}
                                    <img src="/img/hillview-logo.png" class="mb-2 rounded-circle border" width="50px"
                                        style="<!--animation: slidein 3s linear infinite alternate;-->">
                                    <div class="ml-2 pt-7 d-md-block">
                                        <h5 class="mb-0 text-site-1">HSV</h5>
                                        <p class="font-12 text-dark">--------</p>
                                    </div>
                                    {{!--
                                </span> --}}
                            </a>
                        </div>
                    </li>
                </div>

                <div class="header-logo-text col-12 col-sm-12 col-md-8 order-3 order-md-2 mt-4 mt-md-0">
                    <div class="row d-flex justify-content-center">
                        {{!-- <span class="col-12 col-sm-7 d-flex justify-content-center mb-md-0 mb-3">
                            <a id="topnav-menu-bus" class="header-menu text-muted p-2 text-center mx-1 active"
                                href="javascript:void(0)" id="">
                                <span class="d-block "><i class="fa fa-bus"></i></span>
                                <span class="d-sm-block">Bus</span>
                            </a>

                            <a id="topnav-menu-cc" class="header-menu text-muted text-center p-2 text-center "
                                href="javascript:void(0)" id="">
                                <span class="d-block "><i class="fa fa-university"></i></span>
                                <span class="d-none d-md-block">Community Halls</span>
                                <span class="d-sm-block d-md-none">Halls</span>
                            </a>

                            <a id="topnav-menu-rs" class="header-menu text-muted text-center p-2 text-center mx-1"
                                href="javascript:void(0)" id="">
                                <span class="d-block"><i class="fa fa fa-motorcycle"></i></span>
                                <span class="d-none d-md-block">Ride Shares</span>
                                <span class="d-sm-block d-md-none">Rides</span>
                            </a>
                        </span> --}}
                    </div>
                </div>

                <div class="navbar-nav col-1 col-sm-1 col-md-2 order-2 order-md-3 {{!--ml-auto m-0-auto --}} ">
                    <li id="topnav-avatar" class="nav-item dropdown no-arrow mx-1 ">
                        <!-- Nav Item - User Information -->
                        <div class="nav-item dropdown no-arrow ml-0">
                            <a class="nav-link dropdown-toggle float-right pl-0" href="#" id="userDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                                    id="topnav-customer-name"></span>
                                {{!-- <img class="img-profile rounded-circle"
                                    src="https://source.unsplash.com/QAB-WJcbgJk/60x60"> --}}
                                <div id="profile_pic_thumb" class="display-none"><img src="/img/profile_pic.jpg"
                                        style="width: 35px;height: 35px; border: 1px solid #9999; border-radius: 20px;" />
                                </div>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" id="topnav-ticket-purchase-history-btn"
                                    href="javascript:void(0)">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Ticket history
                                </a>
                                {{!-- <div class="dropdown-divider"></div> --}}
                                <a class="dropdown-item" id="topnav-menu-profile" href="javascript:void(0)">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>

                                <a class="dropdown-item" id="topnav-menu-logout" href="#" data-toggle="modal"
                                    data-target="#customerlogoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>


                                <span id="topnav-menu-modal-signinout" class=" px-2">
                                    {{!-- <div class="dropdown-divider"></div> --}}
                                    <div class="row px-4">
                                        <div class="col-md-6 col-6 text-center">
                                            <a class="" id="topnav-menu-login" href="javascript:void(0)">
                                                <span class="">Login</span>
                                            </a>
                                        </div>
                                        <div class="col-md-6 col-6 text-center">
                                            <a class="" href="javascript:void(0)" id="topnav-menu-registration">
                                                <span class="">Signup</span>
                                            </a>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </li>
                </div>
            </nav>

        </div>
    </div>
</div>