    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion d-none  pl-0" id="sidebar-navigation-panel">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="javascript:void(0)">
        <div class="sidebar-brand-icon">
           <img src="/img/logo-trivuj.png" class="" width="50px">
        </div>
        <div class="sidebar-brand-text text-site-1" style="margin-top: 14px;">Trivuj</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a id="nav-dash" class="nav-link" href="javascript:void(0)">
          <i class="fas fa-fw fa-home"></i>
          <span>Home</span></a>
      </li>
      
      <li class="nav-item">
        <a id="nav-trips" class="nav-link" href="javascript:void(0)">
          <i class="fas fa-fw fa-bus"></i>
          <span>Trips</span></a>
      </li>

      <li class="nav-item">
        <a id="nav-payment-dues" class="nav-link" href="javascript:void(0)">
          <i class="fas fa-check-square fa-3x"></i>
          <span>Payment</span></a>
      </li>

    </ul>
    <!-- End of Sidebar -->