/* Responsive Classes */
@media (max-width: 575.98px) {
  .border-xs-left-none {
    border-left: none !important; }
  .border-xs-right-none {
    border-right: none !important; }
  .border-xs-top-none {
    border-top: none !important; }
  .border-xs-bottom-none {
    border-bottom: none !important; } 
}

@media (max-width: 767.98px) {
  .border-sm-left-none {
    border-left: none !important; }
  .border-sm-right-none {
    border-right: none !important; }
  .border-sm-top-none {
    border-top: none !important; }
  .border-sm-bottom-none {
    border-bottom: none !important; } 
}

@media (max-width: 991.98px) {
  .border-md-left-none {
    border-left: none !important; }
  .border-md-right-none {
    border-right: none !important; }
  .border-md-top-none {
    border-top: none !important; }
  .border-md-bottom-none {
    border-bottom: none !important; } 
}

@media (max-width: 1199.98px) {
  .border-lg-left-none {
    border-left: none !important; }
  .border-lg-right-none {
    border-right: none !important; }
  .border-lg-top-none {
    border-top: none !important; }
  .border-lg-bottom-none {
    border-bottom: none !important; } 
}

.border-xl-left-none {
  border-left: none !important; 
}

.border-xl-right-none {
  border-right: none !important; 
}

.border-xl-top-none {
  border-top: none !important; 
}

.border-xl-bottom-none {
  border-bottom: none !important; 
}

/* Responsive Classes */


.table > tbody > tr > td {
    vertical-align: middle;
    /* border: 1px solid darkgray; */
}

.primary-border-left {
    border-left: 2px solid #ff6a3d;
}

.border-dashed {
    border: 1px solid;
}
.border-bottom-dashed {
    border-bottom: 1px dashed;
}
.border-right-dashed {
    border-right: 1px dashed;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.table-responsive::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
  /* height : 8px; */
}

.table-responsive::-webkit-scrollbar {
  height: 8px;
  background-color: #F5F5F5;
}

.table-responsive::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
  /* height: 8px; */
}

.text-align-last {
  text-align-last: center
}

.psngr_suggestion_container {
    max-height: 190px;
    margin-bottom: 10px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

.w-42-px {
  width: 42px;
}
.w-135-px {
  min-width: 140px;
}
/* .ss_mobile {
  position: absolute;
  background: #4e72df;
  padding: 2px;
  border-radius: 1px;
  left: 5px;
}
.ss_mobile a { color: white; } */

.container-wrapper {
  max-width: 1150px;
  margin: 0 auto;
}

.m-0-auto {
  margin: 0 auto;
}

.pt-7 {
  padding-top: 7px;
}

.font-15 {
  font-size: 15px;
}
.font-12 {
  font-size: 12px;
}

.shadow1 {
  box-shadow: 0 0.15rem 0.35rem 0 rgba(58, 59, 69, .15)!important;
}

.bg-deep-blue {
  background-color: rgb(0 0 0 / 12%);
}

.bg-gray {
  background-color: #bec0c34a;
}

.bg-floralwhite {
  /* background-color: floralwhite; */
  background-color: #e8e8e8;
}

.horizontal-center {
  max-width: 100%; margin: 0 auto;
}

.w-65 {
  width: 65px;
}

.h-170 {
  height: 170px;
}

.h-100 {
  height: 100px
}

.p-36 {
  padding: 36px;
}

.no-data-msg{
  padding: 10px;
  /* margin: 5px; */
  /* border: 1px solid green; */
}

.display-none {
  display: none;
}

select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: #fef5f5; /* Fallback color if gradients are not supported */
  background-image: url(../images/select-arrow.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4); /* For Chrome and Safari */
  background-image: url(../images/select-arrow.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Firefox (3.6 to 15) */
  background-image: url(../images/select-arrow.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4); /* For pre-releases of Internet Explorer  10*/
  background-image: url(../images/select-arrow.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Opera (11.1 to 12.0) */
  background-image: url(../images/select-arrow.png), linear-gradient(to bottom, #ffffff, #F4F4F4); /* Standard syntax; must be last */
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  /* border-radius: 2px; */
  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); */
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 50px;
}

/* .btn-outline-site {
  color: #FF6A3D;
  background-color: #fff;
  border-color: #FF6A3D;
}

.btn-outline-site:hover {
  color: #FF6A3D;
  background-color: #1A2238;
  border-color: #1A2238;
}

.btn-outline-site.active {
  color: #FF6A3D;
  background-color: #1A2238;
  border-color: #1A2238;
} */
.pill-site {
  color: #2e2e2e !important;
  border-radius: 0px !important;
}

.pill-site.active {
  color: #3e3636 !important;
  background-color: #ffffff !important;
  font-weight: bold;
  border-bottom: 3px solid #ef3800;
}

.btn-outline-site {
  color: #000000;
  background-color: #fff;
  border-color: #000000;
}

.btn-outline-site:hover {
  color: #FF6A3D;
  background-color: #1A2238;
  border-color: #1A2238;
}

.btn-outline-site.active {
  color: #FF6A3D;
  background-color: #1A2238;
  border-color: #1A2238;
}


.btn-outline-site-1 {
  color: #000000;
  background-color: #fff;
  border-color: #000000;
}

.btn-outline-site-1:hover {
  color: #FF6A3D;
  background-color: #1A2238;
  border-color: #1A2238;
}

.btn-outline-site-1.active {
  color: #FF6A3D;
  background-color: #1A2238;
  border-color: #1A2238;
}

.btn-outline-site-2 {
  color: #1a2238;
  background-color: #f8f9fc;
  border-color: #f8f9fc;
  border-bottom: 1px solid #ff0200;
}

.btn-outline-site-2:hover {
  color: #1a2238;
  background-color: #f8f9fc;
  border-color: #f8f9fc;
  border-bottom: 4px solid #ff0200;
}

.btn-outline-site-2.active {
  color: #1a2238;
  background-color: #f8f9fc;
  border-color: #f8f9fc;
  border-bottom: 4px solid #ff0200;
}

.btn-site {
  /* height: 50px; */
  color: #FF6A3D;
  background-color: #1A2238;
  border-color: #1A2238;
  font-weight: bold;
  /* padding: 18px; */
  /* top: 20px; */
  /* margin-top: 207px; */
}

.btn-site:hover {
  color: #FF6A3D;
  background-color: #fff;
  border-color: #FF6A3D;
}

.alert-site {
  color: #e85547;
  background-color: #ededed;
  border-color: #e85547;
  font-size: 20px;
  font-weight: bold;
}

.text-site {
  color: #e74a3b;
}

.text-site-1 {
  color: #1A2238;
}

.text-site-2 {
  color: #e74a3b;
}

.border-site {
  border-color: #e74a3b;
}

.badge-site {
  color: #e74a3b;
  background-color: #ffff;
  border-color: #e74a3b;
  border: 1px solid;
}

.badge-site-black {
  color: #1A2238;
  background-color: #ffff;
  border-color: #1A2238;
  border: 1px solid;
  text-align: left;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: #3a3b45;
    text-align: center;
    height: 1.5em;
    opacity: .5;
}
.hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}
.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
}

#loc-history-ul .list-group-item:first-child {
  border-top: 0px;
}

#loc-history-ul .list-group-item:last-child {
  border-bottom: 0px;
}

.header-logo-text .header-menu {
  /* border: 1px dashed rgb(230 230 230); */
  border-radius: 3px;
  border: 1px dashed #818181;
  /* color:rgb(255, 73, 17); */
  color: #818181;
  
}

.header-logo-text .header-menu.active {
  /* border: 1px solid rgb(230 230 230); */
  border: 1px dashed #818181;
  /* color: #ff4911; */
  color: #818181;
  /* background: rgb(230 230 230); */
  background: #ffffff;
  box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}

.custom-combo {
  height: 55px;
  margin: auto;
}

.custom-combo div {
  position: absolute;
  /* left: 28em; */
  margin: auto;
}

.custom-combo span {
  position: absolute;
  left: 16px;
  top: -11px;
  background: white;
  font-size: 13px;
  padding: 4px;
  color: #1a2238;
}

.custom-combo select {
  /* width: 200px; */
  border-radius: 3px;
  background: white;
}

.profile-thumb-image {
  width: 180px;
  height: 170px;
  border-radius: 102px;
}


.ui-tooltip {
  background: #4a4a4a;
  color: #96f226;
  border: 2px solid #454545;
  border-radius: 0px;
  box-shadow: 0 0 
}
.ui-autocomplete {
  background: #4a4a4a;
  border-radius: 0px;
}
.ui-autocomplete.source:hover {
  background: #454545;
}

.ui-menu .ui-menu-item a{
  background:red;
  height:10px;
font-size:8px;}

@keyframes slidein {
  from {
    transform: scale(0.7);
  }

  to {
    transform: scale(1);
  }
}

.hiw-box {
  height: 85px;
  /* margin-top: 10px;
  margin-bottom: 10px; */
}

.POPUP {
  position: absolute; 
  display:none;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, .8);
  -ms-transform: scale(1) rotate(0) translate(0, 0) skew(0, 0);
  transform: scale(1) rotate(0) translate(0, 0) skew(0, 0);
  transition-property: transform, opacity;
  transition-duration: .3s;
  color: #fff;
  text-align: center; z-index:999;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  max-height: 181px;
  min-height: 45px;
  position: static;
  overflow-y: scroll;
  /* position: absolute; */
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

/* Map on RS OT Page */
/* .leaflet-control-container { position: absolute; top: 20px; } */
.leaflet-routing-container {  display: none; position: absolute; width: 88%; }
.leaflet-routing-add-waypoint { display: none; }

.small_input {
  height: 40px !important;
  z-index: 500 !important;
}

.small_input ~ span {
  top: 8px !important;
}